body{
    background-color: rgb(255, 201, 219);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1{
    color:rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
